<%- include('base') -%>

<div class="container">
        <p> Search results for "<%= query %>"</p>
        <ul class="list-group">
                
                <%  search_result.forEach( (item) => { %>
                  
                  <a href=<%= `/share/${item.code}/${username}` %> >
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                            <h3><%= item.name %>
                            <span class="badge badge-primary badge-pill"><%= item.code %></span>
                          </h3>
                          </li>
                  
                  </a>

                <% }); %>

                
</div>