<%- include('base') -%>

<div class="container">
        <h3> Search results for "<%= query %>"</h3>
        <hr>
        <ul class="list-group">

                <% if(search_result.length === 0){ %>
                  <h2 class="h2"> No comapnies found</h2>
                <% } %>
                
                <%  search_result.forEach( (item) => { %>
                  
                  <a href=<%= `/share/${item.code}/${username}` %> >
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                            <h3><%= item.name %>
                            <span class="badge badge-primary badge-pill"><%= item.code %></span>
                          </h3>
                          </li>
                  
                  </a>

                <% }); %>

                
</div>