<%- include('base') -%>


        <div class="container">
              <div class="list-group">

                <%  shares.forEach( (item) => { %>
                  <a href="#" class="list-group-item list-group-item-action">
                      
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"><%= item.nse_code %></h5>
                        <small class="text-muted"> 27 April </small>
                      </div>
                      <p class="mb-1"> <%= item.name %> </p>
                      <button type="button" class="btn btn-outline-success">
                           <span class="badge badge-primary"> <%= item.quantity %> Shares </span> @ 
                            &#8377 <%= item.buy_price %> 
                           
                          <span class="sr-only">unread messages</span>
                        </button>
                     
                      
                    </a>
                 <% }); %>
                    
              </div>

        </div> 
    
